.vscode/*
__pycache__/*
*/__pycache__/*
*.pyc
*.DS_Store
*.nox
*.json
*.log
temp/palmsens_data/log/logs/20240628_102526_logFile.log
temp/palmsens_data/log/logs/20240703_185021_logFile.log
temp/palmsens_data/log/logs/20240703_185726_logFile.log
temp/palmsens_data/log/logs/20240704_155527_logFile.log
temp/palmsens_data/log/logs/20240708_133153_logFile.log
temp/palmsens_data/log/logs/20240703_185624_logFile.log
temp/palmsens_data/log/logs/20240628_102526_logFile.log
log.txt
*.log
temp/palmsens_data/log/logs/*.log
log.txt
temp/palmsens_data/log/logs/20240628_102526_logFile.log
testing/cyan_substrate_199_supercap.py
testing/cyan_substrate_200_cv_hcf.py
testing/cyan_substrate_200_droplet_multithread.py
testing/cyan_substrate_200_ocp.py
testing/cyan_substrate_200_ed.py
action/palmsens_action.py

config/sdc_cyan.py
