.vscode/*
__pycache__/*
*/__pycache__/*
*.pyc
*.DS_Store
*.nox
*.json
*.log
temp/palmsens_data/log/logs/20240628_102526_logFile.log
temp/palmsens_data/log/logs/20240703_185021_logFile.log
temp/palmsens_data/log/logs/20240703_185726_logFile.log
temp/palmsens_data/log/logs/20240704_155527_logFile.log
temp/palmsens_data/log/logs/20240708_133153_logFile.log
temp/palmsens_data/log/logs/20240703_185624_logFile.log
temp/palmsens_data/log/logs/20240628_102526_logFile.log
log.txt
*.log
temp/palmsens_data/log/logs/*.log
log.txt
temp/palmsens_data/log/logs/20240628_102526_logFile.log
