.custom_button_Marker1 button.bk.bk-btn.bk-btn-default {
    color: black;
    background-color: #ff0000;
}

.custom_button_Marker2 button.bk.bk-btn.bk-btn-default {
    color: black;
    background-color: #0000ff;
}

.custom_button_Marker3 button.bk.bk-btn.bk-btn-default {
    color: black;
    background-color: #00ff00;
}

.custom_button_Marker4 button.bk.bk-btn.bk-btn-default {
    color: black;
    background-color: #FFA500;
}

.custom_button_Marker5 button.bk.bk-btn.bk-btn-default {
    color: black;
    background-color: #FF69B4;
}
